# Security
SECRET_KEY="django-insecure--bwxz6rlu602ygu$zz8t67r&uym1@n4=uv-rcl51l^0&^f$gn!"

# Database
DB_HOST = localhost
DB_PORT = 5432
DB_NAME = xamnit_db
DB_USER = xamnit
DB_PASSWORD = StrogPassword@123